# Ignorar diretórios de cache do Python
__pycache__/
*.pyc

backend_slot_*/data 

backend/data/
abaqus_acis.log
backend/log/abaqus_log.txt
backend/files/

*.odb
*.rec
*.png
*.lck
*.txt
*.rpy
*.rpy.*

